@inherits LayoutComponentBase

<div class="page-container bubble-font">

    <header class="header-menu">
        <NavMenu />
    </header>

    <main class="content-container">
        <div class="content px-4">
            @Body
        </div>
    </main>

    <footer class="app-footer">
        Byggd av amnis
    </footer>
</div>